<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button>
              <ion-icon slot="icon-only" name="contact"></ion-icon>
            </ion-button>
      </ion-buttons>

      <ion-buttons slot="secondary">
      <ion-button (click)="openCart()">
        <ion-badge *ngIf="cart.length > 0">{{cart.length}}</ion-badge>
        <ion-icon slot="icon-only" name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>

    <div align-items-center>
        <!-- <ion-avatar slot="start">
            <ion-img src="/assets/images/hotel-2.jpg"></ion-img>
          </ion-avatar> -->
         <ion-title>Night Market</ion-title> 
    </div>
  </ion-toolbar>
      <ion-toolbar>
          <ion-searchbar placeholder="Search Night Market"></ion-searchbar>
      </ion-toolbar>
         
</ion-header>

<ion-content fullscreen>
   
       <br>
          <div *ngFor="let cat of items">
              <b padding>{{cat.category}}</b>  
              <ion-slides [options]="sliderConfig">
                  <ion-slide *ngFor="let product of cat.products"> 
            <ion-card no-padding (click)="addToCart(product)">
                <!-- <span class="badge badge-dark">
                    <ion-icon name="add"></ion-icon>
                  </span> -->
                <img [src]="product.photo" />
                <!-- <ion-card-header>
                  <ion-card-title></ion-card-title>
                  <ion-card-subtitle></ion-card-subtitle>
                  <ion-card-subtitle>At	&#8373; 1 each</ion-card-subtitle> 
                </ion-card-header> -->
                <ion-card-content no-padding>
                    <b>GHS {{product.price}}</b> 
                    <p>{{product.name}}</p> 
                    <p>At	&#8373; 1 each</p>
                </ion-card-content>
              </ion-card>
              
            </ion-slide>
          
        </ion-slides>
      </div>
      
     
</ion-content>



























 <!-- <b padding>Drinks</b>
      <ion-slides [options]="sliderConfig">
          <ion-slide>
              <ion-card no-padding>
                  <img src="/assets/images/iconic/Alpro-Fresh-Soy-Milk_Iconic.jpg" />
                  <ion-card-header>
                    <ion-card-title>GHS 5.00</ion-card-title>
                    <ion-card-subtitle>Soy Milk</ion-card-subtitle>
                    <ion-card-subtitle>Alpro-Fresh-Soy-Milk_Iconic</ion-card-subtitle>
                  </ion-card-header>
                  <ion-card-content>
                   
                  </ion-card-content> 
                </ion-card>
          </ion-slide>
          <ion-slide>
              <ion-card no-padding>
                  <img src="/assets/images/iconic/Arla-Standard-Milk_Iconic.jpg" />
                  <ion-card-header>
                    <ion-card-title>GHS 5.00</ion-card-title>
                    <ion-card-subtitle>Soy Milk</ion-card-subtitle>
                    <ion-card-subtitle>Alpro-Standard-Soy-Milk_Iconic</ion-card-subtitle>
                  </ion-card-header>
                   <ion-card-content>
                   
                  </ion-card-content> 
                </ion-card>
          </ion-slide>
          <ion-slide>
              <ion-card no-padding>
                 
                  <img src="/assets/images/iconic/Oatly-Natural-Oatghurt_Iconic.jpg" />
                  <ion-card-header>
                    <ion-card-title>GHS 5.00</ion-card-title>
                    <ion-card-subtitle>Oatghurt</ion-card-subtitle>
                    <ion-card-subtitle>Oatly-Natural-Oatghurt_Iconic</ion-card-subtitle>
                  </ion-card-header>
                <ion-card-content>
                   
                  </ion-card-content> 
                </ion-card>
          </ion-slide>
        </ion-slides> -->
  <!-- <ion-slide>
            <ion-card no-padding>
              <img src="/assets/images/iconic/Yellow-Onion_Iconic.jpg" /> -->
              <!-- <ion-card-header>
                <ion-card-title></ion-card-title>
                <ion-card-subtitle></ion-card-subtitle>
                <ion-card-subtitle></ion-card-subtitle>
              </ion-card-header> -->
              <!-- <ion-card-content>
                <b>GHS 3.00</b>
                Garlic
                <p>At	&#8373; 1 each</p>
              </ion-card-content>
            </ion-card>
          </ion-slide> -->

 <!-- <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
        </ion-buttons>
        
    <ion-buttons slot="secondary">
        <ion-button>
            <ion-icon slot="icon-only" name="search"></ion-icon>
          </ion-button>
        <ion-button>
          <ion-icon slot="icon-only" name="cart"></ion-icon>
        </ion-button>
      </ion-buttons>
</ion-toolbar>
<ion-toolbar>
  <ion-item  lines="none">
    <ion-avatar slot="start">
        <ion-img src="/assets/images/hotel-2.jpg"></ion-img>
      </ion-avatar>
      <ion-label>
       <ion-title>Night Market</ion-title>
      </ion-label>
</ion-item>
</ion-toolbar> -->
