<ion-header>
  <ion-toolbar>
    <ion-title>upload</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <app-loading *ngIf="busy"></app-loading>
    
  <div class="center" *ngIf="!busy">
    <input type="file" *ngIf="!imageURL" (change)="fileChanged($event)" class="filebtn" #fileButton /> 
    <ion-button *ngIf="!imageURL" shape="round" color="primary" fill="outline" (click)="uploadFile()">Upload File</ion-button>
    
    <div *ngIf="imageURL">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
              <ion-img src="https://ucarecdn.com/{{imageURL}}/-/preview/{{activeEffect}}"></ion-img>
              <ion-card-content>
                <ion-textarea placeholder="Add a description" [(ngModel)]="desc"></ion-textarea>
                <ion-button shape="round" color="primary" (click)="createPost()">Save</ion-button>
              </ion-card-content>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col [class.active]="activeEffect==effects.effect2" (click)="setSelected('effect2')">
              <ion-img src="https://ucarecdn.com/{{imageURL}}/{{ scaleCrop }}/{{effects.effect2}}"></ion-img>
          </ion-col>
          <ion-col [class.active]="activeEffect==effects.effect3" (click)="setSelected('effect3')">
              <ion-img src="https://ucarecdn.com/{{imageURL}}/{{ scaleCrop }}/{{ effects.effect3 }}"></ion-img>
          </ion-col>
          <ion-col [class.active]="activeEffect==effects.effect4" (click)="setSelected('effect4')">
              <ion-img src="https://ucarecdn.com/{{imageURL}}/{{ scaleCrop }}/{{ effects.effect4 }}"></ion-img>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="noFace">
          <ion-col size="12">
            <p class="no-face">Images with faces helps build connnections better</p>
          </ion-col>
        </ion-row>
      </ion-grid>
        
      </div>
  </div>

</ion-content>
